.header {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.header .container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: white;
    flex-wrap: wrap;
    position: relative;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
}

@media (max-width: 700px) {
    .header .container {
        width: 90%;
        padding: 20px 0;
        flex-wrap: inherit;
    }

    .center {
        width: auto;
    }
}